<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275831573132-8q1pl4cj93gid64oh98osguqpmukb1se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275831573132-8q1pl4cj93gid64oh98osguqpmukb1se</string>
	<key>API_KEY</key>
	<string>AIzaSyAtEgvETbaO6WHpqYcWvJpVm9lxO6U1Gzk</string>
	<key>GCM_SENDER_ID</key>
	<string>275831573132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lavagemApp</string>
	<key>PROJECT_ID</key>
	<string>lavagem-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lavagem-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275831573132:ios:e1c1735b724e1e035709a9</string>
</dict>
</plist>